/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
    background-color: #f5f5f5;
    padding: 50px;
}

#main-container {
    display: flex;
    gap: 0.5cm; /* Space between the two game containers */
}

#game-container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px; 
    display: inline-block;
}

#game-container-2 {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px; 
    display: inline-block;
}

#resource-display {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block; 
    width: 8cm; /* Set the width of all buttons to 5 cm */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

button:hover {
    overflow: visible; /* Display full text on hover */
    white-space: normal; /* Allow text to wrap */
}

#auto-click-button {
    margin-bottom: 20px; /* Add space below the button */
}

#gold-mine-button {
    background-color: gray;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.1s linear; /* Smooth progress bar animation */
}

#mine-payout {
    display: none; /* Hide initially */
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.1s linear; /* Smooth progress bar animation */
}

#gold-mine-upgrades {
    margin-top: 20px;
}

#cubes-container {
    display: grid;
    grid-template-columns: repeat(4, 2cm); /* 4 cubes per row */
    grid-gap: 10px;
}

.cube {
    width: 2cm;
    height: 4cm;
    background-color: lightgray;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

.cube::before {
    content: "";
    position: absolute;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.cube span {
    z-index: 2;
    position: relative;
}

#cube-1 { background-image: url('../images/factory1.jpg');}
#cube-2 { background-image: url('../images/factory1.jpg');}
#cube-3 { background-image: url('../images/factory1.jpg');}
#cube-4 { background-image: url('../images/factory1.jpg');}
#cube-5 { background-image: url('../images/factory2.jpg');}
#cube-6 { background-image: url('../images/factory2.jpg');}
#cube-7 { background-image: url('../images/factory2.jpg');}
#cube-8 { background-image: url('../images/factory2.jpg');}
