/* style.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
    background-color: #f5f5f5;
    padding: 50px;
}

#game-container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px; 
    display: inline-block;
    position: relative; 
    left: 10px; 
}

#resource-display {
    margin: 20px 0;
    position: relative;
    left: 10px; 
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block; 
    position: relative;
    left: 10px; 
    width: 5cm;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button:hover {
    overflow: visible;
    white-space: normal;
}

#auto-click-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}

#gold-mine-button {
    background-color: gray;
    color: white;
    position: relative;
    left: 10px; 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.1s linear; /* Smooth progress bar animation */
}

#mine-payout {
    display: none; /* Hide initially */
    position: relative;
    left: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.1s linear; /* Smooth progress bar animation */
}

#gold-mine-upgrades {
    margin-top: 20px;
}
